global:
  scrape_interval: 10s

scrape_configs:
  - job_name: "node:otl.dev.myeonglan"
    static_configs:
      - targets: ["otl.dev.sparcs.org:9100"]
  
  - job_name: "node:otl.prod.gamja"
    static_configs:
      - targets: ["otlplus.kws.sparcs.org:9100"]

  - job_name: "node:otl.prod.bap"
    static_configs:
      - targets: ["prod.bap.sparcs.org:9100"]

  - job_name: "node:kong.sparcs.net"
    static_configs:
      - targets: ["kong.sparcs.net:9100"]

  - job_name: "node:db-replica.sparcs.net"
    static_configs:
      - targets: ["210.117.237.45:9100"]

  - job_name: 'cadvisor:otl.dev.sparcs.org'
    static_configs:
      - targets: ["otl.dev.sparcs.org:65000"]

  - job_name: 'cadvisor:otl.prod.gamja'
    static_configs:
      - targets: ["otlplus.kws.sparcs.org:65000"]

  - job_name: 'cadvisor:otl.prod.bap'
    static_configs:
      - targets: ["prod.bap.sparcs.org:65000"]
  
  - job_name: 'mysqld:kong.sparcs.net'
    static_configs:
      - targets: ["kong.sparcs.net:9104"]

  - job_name: 'mysqld:channeltalk.sparcs.net'
    static_configs:
      - targets: ["db-replica.otl.channeltalk.sparcs.net:9104"]
  
  - job_name: 'mysqld:otl.dev.sparcs.org'
    static_configs:
      - targets: ["otl.dev.sparcs.org:9104"]
  
  - job_name: 'nginx:otl.prod.gamja'
    static_configs:
      - targets: ["otlplus.kws.sparcs.org:9113"]

  - job_name: 'nginx:otl.prod.bap'
    static_configs:
      - targets: ["prod.bap.sparcs.org:9113"]
  
  - job_name: 'nginx:otl.dev.myeonglan'
    static_configs:
      - targets: ["otl.dev.sparcs.org:9113"]
  
  - job_name: 'pm2:otl.prod.gamja'
    scheme: https
    metrics_path: '/metrics'
    static_configs:
      - targets: ["api.otl.gamja.sparcs.org:59209"]

  - job_name: 'pm2:otl.prod.bap'
    scheme: https
    metrics_path: '/metrics'
    static_configs:
      - targets: ["api.otl.bap.sparcs.org:59209"]
  
  - job_name: 'pm2:otl.dev.myeonglan'
    scheme: https
    metrics_path: '/metrics'
    static_configs:
      - targets: ["api.otl.dev.sparcs.org:49209"]
  
  - job_name: "redis:otl.prod.gamja"
    static_configs:
      - targets: ["otlplus.kws.sparcs.org:9121"]

  - job_name: "redis:otl.prod.bap"
    static_configs:
      - targets: ["prod.bap.sparcs.org:9121"]

  - job_name: "redis:otl.dev.myeonglan"
    static_configs:
      - targets: ["otl.dev.sparcs.org:9121"]

  - job_name: "rabbitmq:otl.prod.bap"
    static_configs:
      - targets: ["mq.otl.bap.sparcs.net:15692"]

  - job_name: "rabbitmq:otl.dev.myeonglan"
    static_configs:
      - targets: ["redis-mq.otl.dev.sparcs.org:15692"]