global:
  scrape_interval: 10s

scrape_configs:
  - job_name: "node:otl.dev.myeonglan"
    static_configs:
      - targets: ["otl.dev.sparcs.org:9100"]
  
  - job_name: "node:otl.prod.gamja"
    static_configs:
      - targets: ["otlplus.kws.sparcs.org:9100"]

  - job_name: "node:otl.prod.bap"
    static_configs:
      - targets: ["prod.bap.sparcs.org:9100"]

  - job_name: 'cadvisor:otl.dev.sparcs.org'
    static_configs:
      - targets: ["otl.dev.sparcs.org:65000"]

  - job_name: 'cadvisor:otl.prod.gamja'
    static_configs:
      - targets: ["otlplus.kws.sparcs.org:65000"]

  - job_name: 'cadvisor:otl.prod.bap'
    static_configs:
      - targets: ["prod.bap.sparcs.org:65000"]
  
  - job_name: 'mysqld:kong.sparcs.net'
    static_configs:
      - targets: ["kong.sparcs.net:9104"]
  
  - job_name: 'mysqld:otl.dev.sparcs.org'
    static_configs:
      - targets: ["otl.dev.sparcs.org:9104"]
  
  - job_name: 'nginx:otl.prod.gamja'
    static_configs:
      - targets: ["otlplus.kws.sparcs.org:9113"]

  - job_name: 'nginx:otl.prod.bap'
    static_configs:
      - targets: ["prod.bap.sparcs.org:9113"]
  
  - job_name: 'nginx:otl.dev.myeonglan'
    static_configs:
      - targets: ["otl.dev.sparcs.org:9113"]
  
  - job_name: 'nodejs:otl.prod.gamja'
    scheme: https
    metrics_path: '/swagger-stats/metrics'
    basic_auth:
          username: username
          password: password
    static_configs:
      - targets: ["api.otl.gamja.sparcs.org"]

  - job_name: 'nodejs:otl.prod.bap'
    scheme: https
    metrics_path: '/swagger-stats/metrics'
    basic_auth:
          username: username
          password: password
    static_configs:
      - targets: ["api.otl.bap.sparcs.org"]
  
  - job_name: 'nodejs:otl.dev.myeonglan'
    scheme: https
    metrics_path: '/swagger-stats/metrics'
    basic_auth:
          username: username
          password: password
    static_configs:
      - targets: ["api.otl.dev.sparcs.org"]